* {
     margin: 0;
     padding: 0;
     font-family: sans-serif;
}

li {
     list-style: none;
}

nav {
     width: 100%;
     height: 3rem;
     /* border-bottom: 0px solid rgba(228, 227, 227, 0.76); */
     display: flex;
     align-items: center;
     justify-content: space-between;
}

nav div{
     display: flex;
     align-items: center;
     height: 90%;
     padding: 0 0.4rem;
}

#logo{
     width: 16%;
     background-color: #1b2533;
     color: white;
     height: 100%;
     border-bottom: 2px solid #253141;
     /* padding-left: 1%; */
}

#search {
     width: 40%;
     border-bottom: 1px solid #f1f0f6;
}

.fa {
     display: flex;
     border: none;
     margin: 0 5px;
     color: rgb(92, 92, 92);
     cursor: pointer;
}

#search input {
     border: none;
     outline: none;
     background-color: rgb(243, 243, 243);
     border-radius: 8px;
     padding-left: 2rem;
     font-size: large;
     width: 95%;
     height: 75%;
}

#search .fa-search {
     position: relative;
     font-size: larger;
     left: 2.38rem;
}

input[type="search"]::-webkit-search-cancel-button {
     display: none;
}

#profile {
     width: 33%;
     border-bottom: 1px solid #f1f0f6;
     justify-content: space-between;
}

#prof-pic img {
     height: 100%;
}

#date-picker {
     background-color: rgb(243, 243, 243);
     /* padding: 0 1rem; */
     border-radius: 10px;
     color: rgb(95, 95, 95);
}

#date-picker .fa {
     padding: 0 0.45rem;
}

#main {
     display: flex;
}

aside {
     position: fixed;
     width: 16%;
     height: 100%;
     background-color: #1b2533;
     padding: 0 0.4rem;
     color: #818ea3;
}   

aside li {
     margin: 0.1rem;
     padding: 0.7rem;
     border-radius: 6px;
}

aside li:hover {
     background-color: #222f3c;
     cursor: pointer;
}

#body {
     width: 84%;
     margin-left: 20%;
     margin-top: 2rem;
     display: flex;
}

#body-head {
     display: flex;
     font-size: x-large;
     width: 98%;
     justify-content: space-between;
}

#body-head-btns {
     display: flex;
}

#body .fa-search, #add-more {
     border: 1px solid rgb(165, 165, 165);
     border-radius: 9px;
     /* font-size: x-large; */
     color: rgb(151, 151, 151);
     padding: 0.4rem;
}

#add-more {
     color: white;
     background-color: #007ae3;
     padding: 0.4rem 1rem;
}

.fa-plus {
     display: inline;
     color: white;
}